<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>brrowSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>GetClassroomList</display-name>
    <servlet-name>GetClassroomList</servlet-name>
    <servlet-class>com.snsoft.servlet.GetClassroomList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClassroomList</servlet-name>
    <url-pattern>/getClassroomList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBorrowInfo</display-name>
    <servlet-name>AddBorrowInfo</servlet-name>
    <servlet-class>com.snsoft.servlet.AddBorrowInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBorrowInfo</servlet-name>
    <url-pattern>/addBorrowInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBorrowInfo</display-name>
    <servlet-name>DeleteBorrowInfo</servlet-name>
    <servlet-class>com.snsoft.servlet.DeleteBorrowInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBorrowInfo</servlet-name>
    <url-pattern>/deleteBorrowInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBorrowInfo</display-name>
    <servlet-name>UpdateBorrowInfo</servlet-name>
    <servlet-class>com.snsoft.servlet.UpdateBorrowInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBorrowInfo</servlet-name>
    <url-pattern>/updateBorrowInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBorrowInfoDetail</display-name>
    <servlet-name>GetBorrowInfoDetail</servlet-name>
    <servlet-class>com.snsoft.servlet.GetBorrowInfoDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBorrowInfoDetail</servlet-name>
    <url-pattern>/getBorrowInfoDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBorrowInfoList</display-name>
    <servlet-name>GetBorrowInfoList</servlet-name>
    <servlet-class>com.snsoft.servlet.GetBorrowInfoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBorrowInfoList</servlet-name>
    <url-pattern>/getBorrowInfoList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBorrowInfo</display-name>
    <servlet-name>GetBorrowInfo</servlet-name>
    <servlet-class>com.snsoft.servlet.GetBorrowInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBorrowInfo</servlet-name>
    <url-pattern>/getBorrowInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRecordCount</display-name>
    <servlet-name>GetRecordCount</servlet-name>
    <servlet-class>com.snsoft.servlet.GetRecordCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecordCount</servlet-name>
    <url-pattern>/getRecordCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.snsoft.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.snsoft.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MyFilter</display-name>
    <filter-name>MyFilter</filter-name>
    <filter-class>com.snsoft.filter.MyFilter</filter-class>
    <init-param>
      <param-name>defaultEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/MyFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <servlet-name>AddBorrowInfo</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <servlet-name>DeleteBorrowInfo</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <servlet-name>UpdateBorrowInfo</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <servlet-name>GetBorrowInfoDetail</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/rootMain.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/addBorrowInfo.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/borrowInfoDetail.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/updateBorrowInfo.html</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>GetTenRecords</display-name>
    <servlet-name>GetTenRecords</servlet-name>
    <servlet-class>com.snsoft.servlet.GetTenRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTenRecords</servlet-name>
    <url-pattern>/getTenRecords</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharSetFilter</display-name>
    <filter-name>CharSetFilter</filter-name>
    <filter-class>com.snsoft.filter.CharSetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharSetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MoNiLogin</display-name>
    <servlet-name>MoNiLogin</servlet-name>
    <servlet-class>com.snsoft.servlet.MoNiLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoNiLogin</servlet-name>
    <url-pattern>/youkelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddApplyRecord</display-name>
    <servlet-name>AddApplyRecord</servlet-name>
    <servlet-class>com.snsoft.servlet.AddApplyRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddApplyRecord</servlet-name>
    <url-pattern>/addApplyRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetyoukeList</display-name>
    <servlet-name>GetyoukeList</servlet-name>
    <servlet-class>com.snsoft.servlet.GetyoukeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetyoukeList</servlet-name>
    <url-pattern>/getyoukeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllyoukeList</display-name>
    <servlet-name>GetAllyoukeList</servlet-name>
    <servlet-class>com.snsoft.servlet.GetAllyoukeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllyoukeList</servlet-name>
    <url-pattern>/getAllyoukeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApplyDetail</display-name>
    <servlet-name>GetApplyDetail</servlet-name>
    <servlet-class>com.snsoft.servlet.GetApplyDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplyDetail</servlet-name>
    <url-pattern>/getApplyDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassApplyRecord</display-name>
    <servlet-name>PassApplyRecord</servlet-name>
    <servlet-class>com.snsoft.servlet.PassApplyRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassApplyRecord</servlet-name>
    <url-pattern>/passApplyRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteApplyRecord</display-name>
    <servlet-name>DeleteApplyRecord</servlet-name>
    <servlet-class>com.snsoft.servlet.DeleteApplyRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteApplyRecord</servlet-name>
    <url-pattern>/deleteApplyRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApplyCount</display-name>
    <servlet-name>GetApplyCount</servlet-name>
    <servlet-class>com.snsoft.servlet.GetApplyCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplyCount</servlet-name>
    <url-pattern>/getApplyCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sendemail</display-name>
    <servlet-name>Sendemail</servlet-name>
    <servlet-class>com.snsoft.servlet.Sendemail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sendemail</servlet-name>
    <url-pattern>/sendemail</url-pattern>
  </servlet-mapping>
</web-app>